.botbody {
    border: 1px solid black;
    margin-top:5%;
    width:950px;
    margin-left:20%;
}

.container {
    margin-top:20px;
    width:950px;
    margin-bottom:20px;
}

.alert-primary {
    min-width: 218px;
}

.alert-dark {
    min-width: 218px;
    width:950px;
    overflow:auto;
}

#chatbox {
    margin-top:10px;
    height:300px;
    overflow:auto;
}

#u_input {
    display:none;
    margin-top:30px;
}

.options {
    display:flex;
}

#send_button {
    display:none;
    margin-top:10px;
}

#voice {
    display:none;
    margin-top:10px;
    background-color:green;
    margin-left:50px
}