.container {
    margin-top:10%;
}

.alert-primary {
    min-width: 218px;
}

.alert-dark {
    min-width: 218px;
}

#voice {
    background-color:red;
    margin-left: 100%;
    padding: 6px 12px;
    margin-bottom: -5%;
}